---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import {type CollectionEntry, getCollection} from "astro:content";
import {render} from "astro:content";

import BlogPost from "@layouts/BlogPost.astro";
import Prose from "@components/Prose.astro";

dayjs.extend(utc);

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {slug: post.id},
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const {Content, remarkPluginFrontmatter} = await render(post);

const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("HH:mm:ss DD MMMM YYYY UTC");
---

<BlogPost {...post.data}>
  <Prose>
    <p class="text-xl font-bold">Last Modified: {lastModified}</p>
    <p class="text-xl font-bold">
      Read Time: {remarkPluginFrontmatter.minutesRead}
    </p>
    <Content />
  </Prose>
</BlogPost>
