---
import Greeting from "@components/Greeting";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home" description="Lorem ipsum dolor sit amet">
  <div class="space-y-5 text-xl font-medium">
    <Greeting client:load messages={["Hi!", "Hola!", "Hello World!"]} />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ad,
      dolorem omnis dolor doloribus rerum odit eaque accusantium in,
      reprehenderit, laborum officia nam? Ex laboriosam voluptatibus doloremque,
      inventore laborum iusto mollitia delectus atque, sapiente maxime veniam
      repudiandae eius natus exercitationem assumenda aperiam rem corrupti nulla
      molestiae vitae veritatis quae consequuntur omnis? Accusamus alias culpa
      impedit nostrum, aliquam aspernatur ducimus consequatur provident tenetur
      fugiat est exercitationem id maxime sint, facere earum mollitia tempora
      adipisci! Ipsum, vel!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse nam
      possimus, consequuntur totam nemo veritatis ab! Aspernatur repellendus ab
      non maiores explicabo aliquam iste placeat harum voluptates! Quae vitae
      fugit at illo voluptatibus necessitatibus quasi ratione architecto nulla
      tempore magni, quos commodi obcaecati doloremque suscipit, totam
      consequuntur vel hic consectetur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ducimus non,
      numquam vel a unde perferendis corporis fugit ad atque tenetur! Sint
      magnam fuga iusto nulla neque officia error animi? Harum placeat ea
      repudiandae. Temporibus deserunt dignissimos veniam facilis reiciendis,
      quisquam iste esse ea iusto sed repellat dolores velit tempora? Deleniti
      illo repellat incidunt ab, aut doloribus nam, ullam recusandae non,
      corrupti sequi! Minus labore rem nulla dicta iure perspiciatis eveniet
      ratione libero reprehenderit, provident similique fugiat ipsam aut quas
      voluptatibus. Commodi consequuntur quos ullam hic dignissimos totam
      explicabo, consectetur aliquid minima? Dicta excepturi minus maiores rerum
      tempore temporibus nam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque
      tempore perferendis adipisci veritatis inventore maiores unde incidunt,
      eos corporis. Laborum minus nam culpa optio labore. Qui ipsum quos
      voluptatem consequatur voluptatum enim quas accusantium hic est molestiae
      explicabo, mollitia modi cupiditate a nemo repellat reiciendis officiis?
      Eos eum porro nesciunt minima debitis recusandae corporis rem velit iure
      vel sed nemo ratione perferendis tenetur, necessitatibus esse delectus
      aperiam inventore consequatur autem fugiat libero molestiae tempora
      accusamus. Amet repellendus error consequuntur fugiat magni porro vel
      officia facilis eius beatae laboriosam ab minima quo quia numquam
      voluptatibus modi fuga consequatur voluptatem recusandae, ullam esse minus
      dolorem non. Nobis sit qui illum delectus sequi! Quis quibusdam corrupti,
      rem voluptatum vitae tempore. Maxime totam quis suscipit tenetur. Saepe
      obcaecati delectus labore iste. Nihil accusantium sequi debitis possimus
      minima voluptatum voluptate rerum voluptatem ipsam libero animi
      voluptatibus atque, eligendi at, beatae quod modi quibusdam illum maiores
      asperiores. Praesentium ut perferendis quo repudiandae voluptatum
      voluptas, quod veritatis atque consectetur recusandae harum odit quis
      neque itaque ea iusto minus provident odio dignissimos quidem. Ipsa ullam
      suscipit consequuntur odio dolorem repudiandae ab excepturi! Itaque
      repellendus atque, cupiditate corporis eum mollitia praesentium aspernatur
      facilis quis, natus nam, dolores voluptatum?
    </p>
  </div>
</Layout>
